@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67px;
    background-color: #C3CFD9;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.topo h1{
    font-size: 34px;
    color: #E8833A;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    background-color: #E5E5E5;

    position: fixed;
    top: 67px;
    left: 0px;
    z-index: 1;
}

.titulo h2{
    font-size: 24px;
    color: #293845;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-top:178px;
    margin-bottom: 117px;
    
    box-sizing: border-box;
}

.box-filme{
    padding: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 11px;
}

.box-filme img{
    width: 129px;
    height: 193px;
}

.horarios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-bottom: 22px;
    font-size: 20px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    width: 174px;
}

.opcoes button{
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 18px;
    border-width: 0px;
    cursor: pointer;
}

.rodape{
    display: flex;
    align-items: center;
    width: 100%;
    height: 117px;
    background-color: #9EADBA;
    border: 1px solid #9EADBA;

    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.rodape span {
    color:#293845;
    font-size: 26px;
}

.box-rodape{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 8px;
    margin-right: 14px;
    margin-left: 10px;
}

.box-rodape img{
    width: 48px;
    height: 72px;
}